.title{
  text-align: center;
}

/* upper body: */
#upper_workout{
  background-color: lightblue;
  font-size: 15px;
  margin: auto;
  width: 450px;
}

/* lower body: */
#lower_workout{
  background-color: lightpink;
  font-size: 15px;
  margin: auto;
  width: 450px;
}

#abs_workout{
  background-color: lightgreen;
  font-size: 15px;
  margin: auto;
  width: 450px;
}

#modal {
  display: inline;
  margin-left: 50px;
}
